.btn {
  display: inline-block;
  text-align: center;
  min-width: rem-calc(170);
  padding: rem-calc(18) rem-calc(10);
  font-size: fs(p);
  line-height: 1;
  text-decoration: none;
  font-weight: fw(normal);
  text-transform: none;
  &--primary {
    color: color(creme-primary);
    background-color: color(red-primary);
  }
}
