$ff-primary: 'Source Sans Pro', sans-serif;
$ff-secondary: 'Anton', sans-serif;

$fw: (
	normal: 400,
	semi-bold: 600,
	bold: 700
);

$fs: (
	hero: 80px,
	h1: 64px,
	h2: 60px,
	h3: 48px,
	h4: 40px,
	h5: 36px,
	p: 34px
);

$colors: (
	creme-primary: #efe2cc,
	creme-secondary: #fff6e6,
	red-primary: #ff422e,
	brown-primary: #24211f,
	brown-secondary: #484544,
	gray-primary: #797572,
	gray-secondary: #a39f98
);