$ff-primary: 'Source Sans Pro', sans-serif;
$ff-secondary: 'Anton', sans-serif;

$fw: (
	normal: 400,
	semi-bold: 600,
	bold: 700
);

$hero : rem-calc(48);
$h1   : rem-calc(32);
$h2   : rem-calc(21);
$h3   : rem-calc(18);
$h4   : rem-calc(14);
$h5   : rem-calc(18);
$p    : rem-calc(18);

$fs: (
	hero : $hero,
	h1   : $h1,
	h2   : $h2,
	h3   : $h3,
	h4   : $h4,
	h5   : $h5,
	p    : $p
);

$colors: (
	creme-primary: #efe2cc,
	creme-secondary: #fff6e6,
	red-primary: #ff422e,
	brown-primary: #24211f,
	brown-secondary: #484544,
	gray-primary: #797572,
	gray-secondary: #a39f98,
	black: #242424
);
