@mixin ghost($text-align: center, $height: 100%) {
  text-align: $text-align;
  &:before {
    content: '';
    height: $height;
    display: inline-block;
    vertical-align: middle;
    margin-right: -0.025em;
  }
  > div {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }
}
// Media query management

$breakpoints: (
  'breakpoint'	: ( min-width: 768px)
);

@mixin respond-to($name) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $name) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $name))} {
      @content;
    }
  }
  // If the key doesnt exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}