header {
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	transition: 0.4s ease;
	z-index: 10000;
	background-color: color(brown-primary);
	font-size: 0;
	.nav-open & {
		background-color: color(creme-primary);
	}
	@include respond-to(l) {
		position: relative;
	}
}
nav {
	display: block;
	width: 100%;
	padding-left: rem-calc(10);
	padding-right: rem-calc(10);
	transition: none;
	min-height: auto;
	@include respond-to(breakpoint) {
		margin-left: auto;
		margin-right: auto;
		max-width: rem-calc(1260);
	}
	@include respond-to(xxl) {
	  max-width: rem-calc(1920);
	}
	&.open {
		transition: 0s linear;
		min-height: auto;
	}
}
.nav-header {
	position: relative;
	z-index: 2001;
	padding: 1rem;
	font-size: 0;
	@include respond-to(l) {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 50%;
	}
	&-item {
		display: inline-block;
		vertical-align: middle;
		width: 50%;
		&:last-of-type { @extend %text-right; }
	}
}
.nav-logo {
	display: block;
	opacity: 1;
	visibility: visible;
	transition: visibility 0s linear 0s, opacity 0.4s;
	svg {
		display: inline-block;
		vertical-align: top;
		width: rem-calc(50);
		height: rem-calc(53);
		fill: #fff;
		transition: 0.4s ease;
	}
}
.nav-toggle {
	display: inline-block;
	width: 30px;
	height: 25px;
	vertical-align: middle;
	text-align: right;
	@extend %align-right;
	@include respond-to(l) {
		display: none;
	}
	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -0.025rem;
	}
}
.burger {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	width: 30px;
	height: 2px;
	background-color: color(creme-primary);
	transition: all 0.4s;
	&:before, &:after {
		content: '';
		width: 30px;
		height: 2px;
		position: absolute;
		left: 0;
		z-index: 10;
		background-color: color(creme-primary);
		transition: all 0.4s;
	}
	&:before {
		top: -11px;
	}
	&:after {
		top: 11px;
	}
}
.nav-menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	padding-top: rem-calc(85);
	background-color: color(creme-primary);
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 3rem;
	transform: translateY(-300%);
	z-index: 2000;
	transition: transform 0.4s ease;
	@include respond-to(l) {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 50%;
		padding: 1rem;
		transform: none;
		background-color: transparent;
		text-align: right;
	}
}
.nav-menu-item {
	border-top: rem-calc(1) solid color(gray-secondary);
	padding-top: rem-calc(10);
	padding-bottom: rem-calc(10);
	&:first-of-type > a { padding-top: 0; padding-bottom: 0; }
	&:last-of-type{ border-bottom: rem-calc(1) solid color(gray-secondary); }
	&:hover > a { color: color(red-primary); }
	@include respond-to(l) {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		border: none;
		margin-right: rem-calc(25);
		&:last-of-type{ border: none; }
		&:hover > ul {
			display: block;
		}
	}
	a {
		display: block;
		color: color(red-primary);
		text-transform: uppercase;
		letter-spacing: 0.12rem;
		font-size: fs(p);
		font-weight: fw(semi-bold);
		@include respond-to(l) {
			color: color(creme-primary);
			transition: 0.2s ease;
		}
	}
	> ul {
		padding-left: rem-calc(10);
		@include respond-to(l) {
			display: none;
			position: absolute;
			width: 180px;
			text-align: left;
			padding: rem-calc(10);
			margin: 0;
			top: 100%;
			left: -(rem-calc(10));
			background-color: rgba(color(brown-primary), .8);
		}
	}
	> ul li:hover a {
		color: color(red-primary);
	}
	> ul li:first-of-type a {
		padding-top: rem-calc(7);
	}
	> ul li:last-of-type a {
		padding-bottom: 0;
	}
	> ul a {
		color: color(gray-secondary);
		padding-bottom: rem-calc(7);
		@include respond-to(l) {
			color: color(creme-primary);
		}
	}
}

.nav-open .open {
	.nav-logo {
		opacity: 0;
		visibility: hidden;
		transition: visibility 0s linear 0.4s, opacity 0.4s;
	}
	.burger {
		background-color: transparent;
		&:before, &:after {
			background-color: color(red-primary);
			top: 0;
		}
		&:before { transform: rotate(45deg); }
		&:after { transform: rotate(-45deg); }
	}
	.nav-menu {
		transform: translateY(0);
	}
}
