section {
	width: 100%;
  padding-top: 1.34375rem;
  padding-bottom: 1.34375rem;
  &:first-of-type {
    padding-top: 3.6875rem;
  }
  &:last-of-type {
    padding-bottom: 3.6875rem;
  }
  h1 {
    position: relative;
    text-align: center;
    &:after {
      content: '';
      position: relative;
      display: block;
      margin: 0 auto;
      width: 7.34375rem;
      height: 0.125rem;
      background-color: color(creme-primary);
      margin-top: 0.9375rem;
    }
  }
}
[class$="-description"] {
  text-align: center;
  padding-top: 2.1875rem;
  @include respond-to(breakpoint) {
    width: (1000 / 1400) * 100%;
    max-width: 1000px;
    margin: 0 auto;
  }
}
.container-item {
  @extend %padding-left-right;
}
[class$="-container"] {
  width: 100%;
  margin-bottom: 1.25rem;
  @include respond-to(breakpoint) {
    width: (1260 / 1400) * 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}
