.home-wrapper section {
	width: 100%;
  padding-top: rem-calc(35);
  padding-bottom: rem-calc(35);
  &:first-of-type {
    padding-top: rem-calc(70);
  }
  &:last-of-type {
    padding-bottom: 0;
  }
  h1 {
    position: relative;
    text-align: center;
    &:after {
      content: '';
      position: relative;
      display: block;
      width: rem-calc(118);
      height: rem-calc(2);
      background-color: color(creme-primary);
      margin-top: rem-calc(15);
      @extend %align-center;
    }
  }
}
section {
  width: 100%;
  padding-top: rem-calc(35);
  padding-bottom: rem-calc(35);
  h1 {
    position: relative;
    text-align: center;
    &:after {
      content: '';
      position: relative;
      display: block;
      width: rem-calc(118);
      height: rem-calc(2);
      background-color: color(creme-primary);
      margin-top: rem-calc(15);
      @extend %align-center;
    }
  }
}
[class$="-description"] {
  text-align: center;
  padding-top: rem-calc(40);
  @extend %align-center;
  @include respond-to(breakpoint) {
    width: (1000 / 1440) * 100%;
    max-width: rem-calc(1000);
  }
}
.container-item {
  @extend %padding-left-right;
}
[class$="-container"] {
  width: 100%;
  @extend %align-center;
  @extend %padding-left-right;
  @include respond-to(breakpoint) {
    width: (1260 / 1440) * 100%;
    max-width: rem-calc(1260);
  }
  @include respond-to(xxl) {
    max-width: rem-calc(1920);
  }
}
