*, *:before, *:after {
	box-sizing: border-box;
}
html {
	font-size: 100%;
	font-family: $ff-primary;
	background-color: color(brown-primary);
	@include respond-to(breakpoint) {
		font-size: 100%;
	}
}
body {
}
img {
	max-width: 100%;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

