@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700|Anton);

a {
	text-decoration: none;
	color: color(creme-primary);
}
h2, h3, h4, h5, h6, p {
	@extend %ff-primary;
}
h1 {
	@extend %ff-secondary;
	@extend %fw-bold;
	font-size: fs(h1);
	color: color(creme-primary);
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}
h2 {
	@extend %fw-bold;
	font-size: fs(h2);
}
h3 {
	@extend %fw-bold;
	font-size: fs(h3);
}
h4 {
	@extend %fw-semi-bold;
	font-size: fs(h4);
}
h5 {
	@extend %fw-semi-bold;
	font-size: fs(h5);
}
p {
	@extend %fw-normal;
	font-size: fs(p);
	color: color(creme-primary);
	line-height: 3.75rem;
}