.events-container, .jobs-container {
  .jobs-description {
    padding-top: 0 !important;
    padding-bottom: rem-calc(45);
  }
  @include respond-to(breakpoint) {
    max-width: (1024 / 1440) * 100%;
  }
  h4 {
    letter-spacing: 0;
    text-align: center;
    color: color(creme-primary);
  }
}
.event, .job {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  border-top: 1px solid color(gray-primary);
  transition: 0.4s ease;
  overflow: hidden;
  &.active:before {
    transform-origin: 50% 50%;
    transform: rotate(90deg);
  }
  &:last-of-type {
    border-bottom: 1px solid color(gray-primary);
  }
  &:before, &:after {
    content: '';
    position: absolute;
    background-color: color(gray-primary);
  }
  &:before {
    width: rem-calc(1);
    height: rem-calc(18);
    right: rem-calc(9);
    top: rem-calc(23);
    transition: 0.4s ease;
  }
  &:after {
    width: rem-calc(18);
    height: rem-calc(1);
    right: 0;
    top: rem-calc(31);
  }
  &__title {
    padding-top: rem-calc(20);
    padding-bottom: rem-calc(20);
    padding-left: rem-calc(20);
    padding-right: rem-calc(28);
    h5 {
      color: color(red-primary);
      text-transform: uppercase;
    }
  }
  &__meta {
    overflow: hidden;
    display: block;
    padding-left: rem-calc(20);
    padding-bottom: rem-calc(20);
    .address {
      color: color(creme-primary);
      text-transform: uppercase;
      padding-top: rem-calc(20);
      h5 {
        font-weight: fw(normal);
      }
    }
    .excerpt { @extend p; }
  }
}
.job .excerpt {
  padding-bottom: rem-calc(20);
  -webkit-column-count: 1;
     -moz-column-count: 1;
          column-count: 1;
  @include respond-to(l) {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
  }
}
