.hero-main {
	position: relative;
	width: 100%;
	height: 50vh;
	background-image: url('../assets/brewery.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 0;
	@include ghost(center, 50vh);
	@include respond-to(breakpoint) {
		height: 85vh;
		&:before {
			height: 85vh;
		}
	}
	&:after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: rgba(0, 0, 0, .25);
		z-index: 1;
		top: 0;
		left: 0;
	}
}
.hero-meta, .hero-meta p {
	position: relative;
	z-index: 2;
	font-size: fs(hero);
	color: color(creme-primary);
	font-weight: fw(bold);
	text-transform: uppercase;
	line-height: normal;
}
