html .cahoots-store {
  padding-bottom: 0;
}

.store {
  opacity: 0;
  transition: 0.4s 0.4s ease;
  &.active {
    opacity: 1;
  }
}
.store-teaser {
  width: 100%;
  position: relative;
  padding: 2.5rem 1rem;
  text-align: center;
  background-color: color(creme-primary);
  img { max-width: rem-calc(400); }
  &__btn {
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    background-color: color(red-primary);
  }
}
.product-container {
  text-align: center;
  font-size: 0;
  padding-top: rem-calc(70);
  padding-bottom: rem-calc(70);
  h2 { color: color(creme-primary); }
}
.product {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin-bottom: rem-calc(40);
  @include respond-to(mid-m) {
    width: 50%;
    padding-left: rem-calc(16);
    padding-right: rem-calc(16);
  }
  @include respond-to(breakpoint) {
    width: 33.33%;
  }
  &__meta {
    padding-top: rem-calc(28);
    padding-bottom: rem-calc(28);
    &:before, &:after {
      content: '';
      display: block;
      position: relative;
      width: 80%;
      height: rem-calc(1);
      background-color: color(gray-secondary);
      margin-left: auto;
      margin-right: auto;
    }
    &:before { margin-bottom: rem-calc(20); }
    &:after { margin-top: rem-calc(20); }
    &-title {
      color: color(red-primary);
      text-transform: uppercase;
    }
    &-price {
      color: color(creme-primary);
      font-size: fs(p);
      margin-top: rem-calc(10);
    }
  }
}
.sqs-money-native {
  &:before {
    content: "$";
    display: inline-block;
    vertical-align: center;
  }
}

.product-item {
  width: 100%;
  max-width: rem-calc(420);
  padding-top: rem-calc(70);
  padding-bottom: rem-calc(70);
  text-align: left;
  @include respond-to(breakpoint) {
    max-width: rem-calc(750);
  }
  @extend %align-center;
  &__meta {
    display: inline-block;
    vertical-align: top;
    &-img {
      width: 100%;
      margin-right: 0;
      text-align: center;
      @include respond-to(breakpoint) {
        width: (277 / 750) * 100%;
        margin-right: (60 / 750) * 100%;
        text-align: left;
      }
    }
    &-details {
      width: 100%;
      margin-top: rem-calc(20);
      @include respond-to(breakpoint) {
        width: (413 / 750) * 100%;
        margin-top: 0;
      }
    }
    &-title {
      font-size: rem-calc(36);
      color: color(red-primary);
      font-weight: fw(bold);
      text-transform: uppercase;
      letter-spacing: 0.12rem;
    }
    .product-price {
      font-size: rem-calc(24);
      color: color(creme-primary);
      letter-spacing: 0.12rem;
      margin-top: rem-calc(15);
      margin-bottom: rem-calc(15);
    }
    .product-quantity-input {
      font-size: rem-calc(18);
      color: color(creme-primary);
      padding-bottom: rem-calc(5);
      input { color: color(black); }
    }
    .product-excerpt {
      margin-top: rem-calc(25);
    }
  }
}
.variant-option {
  font-size: rem-calc(18);
  color: color(creme-primary);
  padding-bottom: rem-calc(15);
  display: inline-block;
  width: 50%;
}
