.employee-container {
  font-size: 0;
  width: 100%;
}
.employee {
  position: relative;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  margin-bottom: rem-calc(40);
  width: 100%;
  @include respond-to(s) {
    width: 50%;
    padding: rem-calc(15);
  }
  @include respond-to(breakpoint) {
    width: 33.33%;
  }
  @include respond-to(l) {
    width: 25%;
  }
}
.employee__meta {
  position: absolute;
  display: inline-block;
  width: 100%;
  top: 0;
  height: 100%;
  left: 0;
  padding: 1.5625rem 1.375rem;
  background-color: rgba(color(black), .6);
  z-index: 5;
  opacity: 0;
  transition: opacity 0.4s ease;
  @include ghost;
  &:hover {
    opacity: 1;
  }
  .touch & {
    position: relative;
    opacity: 1;
    display: block;
    margin-top: 0rem;
    text-align: left;
    padding: 1rem 0 0;
  }
  h2 {
    text-transform: uppercase;
    color: color(creme-primary);
    letter-spacing: 0.12rem;
  }
}
